/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}
.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}
.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background: #e1907f url("../images/stefanusMartantoSetyoHusodo fruits.jpg") bottom no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px;
    line-height: 1.5;
}
#container {
    width: 960px;
    margin: 0 auto;
    clear: right;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}
header, footer {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #c6e2da;
    padding: 10px 20px;
    cursor: crosshair;
    transition: background-color 0.8s ease-in-out;
}
header {
    top: 0;
    text-align: center;
    border-bottom: #ccba85 dotted 2px;
}
footer {
    bottom: 0;
    border-top: #ccba85 dotted 2px;
    font-size: 10px;
}
header, footer {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
header a {
    color: #fff;
}
header:hover {
    background-color: #cdcdcd;
    background-color: rgba( 0, 0, 0, 0.1);
}
footer:hover {
    background-color: #cdcdcd;
    background-color: rgba( 0, 0, 0, 0.0);
}
#introquote {
    display: block;
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
    font-family: 'Domine', serif;
}
blockquote {
    font-style: italic;
    font-size: 36px;
}
blockquote::before {
    content: "\201C";
    font-size: 32px;
}
blockquote::after {
    content: "\201D";
    font-size: 32px;
}
#underline {
    border-bottom: 2px dotted #fff;
}
#introactions {
    text-align: center;
    margin: 35px 0;
}
#actions {
    font-size: 25px;
}
.button {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    text-align: center;
    padding: 14px;
    width: 280px;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 50px #fff;
}
.begin {
    color: #fff;
    background-color: #009874;
    border: #ccba85 dotted 1px;
    transition: background-color 0.5s ease-in-out;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    animation-duration: 2.5s;
}
.begin:hover {
    font-size: 16px;
    background-color: #3ca555;
}
.navbuttons {
    margin: 35px 0;
    float: right;
}
#next, #cancel {
    display: inline-block;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    width: 150px;
    color: #fff;
    background-color: #ddc19a;
}
#score, #scoreResult {
    display: inline-block;
    text-align: center;
}
#scoreResult {
    font-size: 20px;
    color: #9e4624;
}
.questions {
    max-width: 100%;
    padding: 5px;
    background: rgb(198, 226, 218);
    background: rgba(198, 226, 218, .7);
    border-radius: 5px;
    color: #707070;
    overflow: scroll;
    border: #ccba85 dotted 2px;
}
#qn {
    font-size: 18px;
}
#choiceList li {
    display: inline-block;
}
.choicesbtn {
    margin: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 14px;
    width: 150px;
    font-size: 14px;
    font-weight: 800;
    background-color: #ffaa4d;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.choicesbtn:hover {
    background-color: #ffcc99;
}
a.expRes {
    color: #8c4799;
    transition: background 0.8s ease;
}
a.expRes:hover {
    background-color: #8c4799;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
}
#colorRed {
    color: #ad5d5d;
}
.msg {
    font-size: 15px;
}
.colorMsg {
    font-size: 20px;
}
.wrongmsg, .correctmsg {
    display: none;
}
.wrongmsg .colorMsg {
    color: #f9423a;
}
.correctmsg .colorMsg {
    color: #006e51;
}
#hintText {
    color: #b93a3e;
    text-align: center;
}
.endQuiz {
    display: none;
    font-size: 18px;
    text-align: center;
}

/*For width equal to 1000px but not less than 769px*/

@media only screen and (min-width: 769px) and (max-width: 1000px) {
    body {
        line-height: 1.7;
    }
    #container {
        width: 90%;
    }
    .questions {
        margin-bottom: 50px;
    }
    #choiceList li {
        display: block;
    }
    .choicesbtn {
        display: block;
        margin: 15px auto;
        width: 350px;
    }
}

/*For width equal to 768px and till 400px */

@media only screen and (min-width: 400px) and (max-width: 768px) {
    body {
        line-height: 1.7;
    }
    #container {
        width: 90%;
    }
    .questions {
        margin-bottom: 50px;
    }
    #choiceList li {
        display: block;
    }
    .choicesbtn {
        display: block;
        margin: 15px auto;
        width: 300px;
    }
    #qn {
        font-size: 16px;
    }
}
